/* Variables */
$font-family: 'Roboto', sans-serif;
$background-color: #f9f9f9;
$text-color: #333;
$nav-background-color: #d4c2ad;
$nav-hover-background-color: #b5a28b;
$box-background-color: #fff;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


/* Base styles */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: $font-family;
  background: $background-color;
  color: $text-color;
}


header {
  background: #D4C2AD;
  padding: 10px 0;
}

//FONTS
h1, h2, h3 {
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2, h3 {
  font-size: 2rem;
}


p, a {
  font-weight: 400;
}

p {
  text-align: center;
  line-height: 120%;
}

a {
  color: #333;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.homepage {
	display: flex;
	flex-wrap: wrap;
	// gap: 2rem;
}

.container-boks {
	container-type: inline-size;
}

div {
	flex: 1 1 30ch;
}

.info, .projects {
	display: grid;
  height: 50vh;
	grid-template-columns: 1.5fr 3fr;	
	grid-column-gap: 2rem;
	padding: 2rem 2rem 2.5rem 2rem;
}

.info, .projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;     
  text-align: center;      
}

.homepage {
  grid-column: span 2;
}

@container (min-width: 60ch) {
  .info, .projects {
    grid-column: 2;
  }
}


.old, .new {
  display: flex;
  height: 100vh;
  // width: 80vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;     
  text-align: center;      
}

//NAVBAR 
.nav {
  display: flex;
  justify-content: center;
  background-color: #D4C2AD;
      
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  
  &__item {
    padding: 1rem;
    // margin-left: 1rem;

    a {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
}

main {
  margin: 70px;
  padding: 20px;
  background: $box-background-color;
  border-radius: 8px;
  box-shadow: $box-shadow;
}


.main__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  &--item {
    display: block;
    align-items: center;
    margin: 2vh;
  }

  a {
    font-size: 30px;
  }
}

.oblig1-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
